@page "/Dashboard"
@inject HttpClient _client
@inject NavigationManager _navigation

<h3>Dashboard</h3>

<TickerSearchBar OnSearch="OnSearch" />

@if (Stock != null)
{
    <StockDetail Stock="Stock" />
}

@code {
    
    public StockShortDTO? Stock { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
        await base.OnInitializedAsync();
    }

    public async Task OnSearch(string ticker)
    {
        await GetStockDetail(ticker);
        StateHasChanged();
    }

    public async Task GetStockDetail(string? ticker)
    {
        if (ticker != null)
        {
            Stock = await _client.GetFromJsonAsync<StockShortDTO>($"api/stocks/{ticker}");
        }
        else
        {
            Stock = null;
        }
        await InvokeAsync(StateHasChanged);
    }

}
