@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient _client
@inject NavigationManager _navigation

<h3>Dashboard</h3>

<TickerSearchBar OnSearch="OnSearch" />

@if (Stock != null && !Subscription)
{
    <button @onclick="Subscribe" class="btn btn-danger">Subscribe</button>
}

@if (Stock != null)
{
    <StockDetail Stock="Stock" />
}

@if (Finances != null)
{
    <StockChart @ref="Chart" Finances="Finances"/>
}

@if (LastFinance != null)
{
    <ChartInfo LastFinance="LastFinance" />
}

@if (Articles != null)
{
    <StockArticles Articles="Articles" />
}

@code {
    
    public StockDTO? Stock { get; set; }
    public PolygonArticleDTO? Articles { get; set; }
    public List<StockFinanceDTO>? Finances { get; set; }
    public StockFinanceDTO? LastFinance { get; set; }
    public bool Subscription = false;
    [Parameter] public StockChart? Chart { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    public async Task OnSearch(string ticker)
    {
        await GetStockDetail(ticker);
        await GetArticles(ticker);
        await GetFinances(ticker);
        await HasSubscription(ticker);

        Chart?.Chart.Refresh();

        StateHasChanged();
    }

    public async Task GetStockDetail(string? ticker)
    {
        if (ticker != null)
        {
            try
            {
                Stock = await _client.GetFromJsonAsync<StockDTO>($"api/stocks/{ticker}");
            }
            catch (Exception)
            {
                Console.WriteLine("Not found or polygon api doesn't response");
            }
        }
        else
        {
            Stock = null;
        }
        await InvokeAsync(StateHasChanged);
    }

    public async Task GetArticles(string? ticker)
    {
        if (ticker != null)
        {
            try
            {
                Articles = await _client.GetFromJsonAsync<PolygonArticleDTO>($"api/stocks/{ticker}/getarticles");
            }
            catch (Exception)
            {
                Console.WriteLine("Polygon api doesn't response");
            }
        }
        else
        {
            Articles = null;
        }
        await InvokeAsync(StateHasChanged);
    }

    public async Task GetFinances(string? ticker)
    {
        if (ticker != null)
        {
            try
            {
                var dto = await _client.GetFromJsonAsync<PolygonFinanceDTO>($"api/stocks/{ticker}/getfinances");

                var tmp = dto.Finances.Select(finance => new StockFinanceDTO
                {
                    C = finance.ClosePrice, H = finance.HighestPrice, L = finance.LowestPrice, O = finance.OpenPrice, V = finance.Volume, T = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc).AddMilliseconds(finance.Timestamp).ToLocalTime()
                }).ToList();

                Finances = tmp;
                LastFinance = Finances.SingleOrDefault(e => e.T == Finances.Max(o => o.T));
            }
            catch (Exception)
            {
                Console.WriteLine("Polygon api doesn't response");
            }
        }
        else
        {
            Stock = null;
        }
        await InvokeAsync(StateHasChanged);
    }

    public async Task Subscribe()
    {
        try
        {
            await _client.PostAsync($"api/stocks/{Stock.Ticker}/subscribe", null);
            Subscription = true;
        }
        catch (Exception e)
        {
            Console.WriteLine("Problem with subscription");
        }
    }

    public async Task HasSubscription(string ticker)
    {
        try
        {
            Subscription = await _client.GetFromJsonAsync<bool>($"api/subscriptions/{ticker}/hassubscription");
        }
        catch (Exception e)
        {
            Console.WriteLine("Problem with HasSubscription API call");
        }
    }

}