@page "/"
@inject NavigationManager _navigation

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

core data dropdown themes

<AuthorizeView>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <NavLink></NavLink>
    </Authorized>
</AuthorizeView>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}
